In [1]:
#한글형태소 추출 라이브러리 설치
!pip install KoNLPy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting KoNLPy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
     |████████████████████████████████| 19.4 MB 4.3 MB/s
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from KoNLPy) (1.21.6)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from KoNLPy) (4.2.6)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (453 kB)
     |████████████████████████████████| 453 kB 53.9 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->KoNLPy) (4.1.1)
Installing collected packages: JPype1, KoNLPy
Successfully installed JPype1-1.4.0 KoNLPy-0.6.0

In [2]:
#모델 생성
from konlpy.tag import Komoran
komoran = Komoran()

In [3]:
import pandas as pd
import numpy as np

#영화 리뷰데이터 가져오기
reviews = pd.read_csv('/content/movie_reviews.csv')
reviews

,Unnamed: 0,title,rating,review
0,0,탑건: 매버릭,10,신고
1,1,조 블랙의 사랑,10,내 인생 최고의 영화 여운이 길게 남는다
2,2,어린 의뢰인,10,이런일은 두번다시 일어나지 않았으면 좋겠습니다. ...
3,3,사도,10,유아인의 아들이 아빠를 보러와서 물한잔 주지 못한다고 슬피 울때 나도 울었다.. ...
4,4,이상한 나라의 수학자,1,유치해… 클리셰 범벅… 그나마 최민식이라 선방했다. ...
...,...,...,...,...
9985,9985,타짜-신의 손,7,캐릭터 돌려막기의 진수
9986,9986,탑건: 매버릭,10,진짜 인생영화 완전진짜
9987,9987,포레스트 검프,10,나는 바보보다 바보같았다.
9988,9988,탑건: 매버릭,10,역시 그는 짱이었다..
9989,9989,탑건: 매버릭,10,너무너무 재밌어서 리뷰남기러 온게 몇년만의 일이네요!! 탐크루즈 역시 레전설이야ㅜㅜ...

In [4]:
lists = []

#토큰화 진행
for i in range(0, reviews.shape[0]):
  mini_1 = komoran.pos(reviews.iloc[i, 3])
  mini_2 = []
  for k in mini_1:
    if k[1] in ('NNG', 'NNP', 'MM', 'MAG', 'IC', 'NF', 'NV'):
      mini_2.append(k[0])
    elif k[1] in ('VV', 'VA'):
      mini_2.append(k[0]+"다")
  lists.append(mini_2)

#리스트에 저장 후 영화리뷰데이터에 별도 열로 추가
reviews['komoran'] = lists

In [5]:
#결과
reviews

,Unnamed: 0,title,rating,review,komoran
0,0,탑건: 매버릭,10,신고,[신고]
1,1,조 블랙의 사랑,10,내 인생 최고의 영화 여운이 길게 남는다,"[인생, 최고, 영화, 여운, 길다, 남다]"
2,2,어린 의뢰인,10,이런일은 두번다시 일어나지 않았으면 좋겠습니다. ...,"[이런, 일, 두, 다시, 일어나다, 좋다]"
3,3,사도,10,유아인의 아들이 아빠를 보러와서 물한잔 주지 못한다고 슬피 울때 나도 울었다.. ...,"[유아인, 아들, 아빠, 보다, 물, 한잔, 슬피, 울, 때, 울다]"
4,4,이상한 나라의 수학자,1,유치해… 클리셰 범벅… 그나마 최민식이라 선방했다. ...,"[클리셰, 범벅, 그나마, 최민식, 선방]"
...,...,...,...,...,...
9985,9985,타짜-신의 손,7,캐릭터 돌려막기의 진수,"[캐릭터, 돌리다, 막다, 진수]"
9986,9986,탑건: 매버릭,10,진짜 인생영화 완전진짜,"[진짜, 인생, 영화, 완전, 진짜]"
9987,9987,포레스트 검프,10,나는 바보보다 바보같았다.,"[바보, 바보, 같다]"
9988,9988,탑건: 매버릭,10,역시 그는 짱이었다..,[짱]
9989,9989,탑건: 매버릭,10,너무너무 재밌어서 리뷰남기러 온게 몇년만의 일이네요!! 탐크루즈 역시 레전설이야ㅜㅜ...,"[너무너무, 재밌다, 리뷰, 남기다, 오다, 몇, 탐, 크루즈]"