<a href="https://colab.research.google.com/github/yoojinlee-hub/DALC_3_3/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/movie_reviews(cleaned)_final.csv',low_memory=False) 
data.head(2)

,Unnamed: 0,titles,rates,reviews,isit_domestic,imgs_url,cleaned_token
0,0,미니언즈2,10,미니언즈가 귀여운데 알아듣지 못하는 말을 해서 아쉽다. 어린이 조카가 무지 좋아한...,False,https://search.pstatic.net/common?type=o&amp;s...,"['미니언즈', '귀엽다', '알아듣다', '말', '하다', '아쉽다', '어린이..."
1,1,아이언 크로스: 노르망디 상륙작전,10,전투 액션이 좋네요...스케일이 엄청납니다,False,https://search.pstatic.net/common?type=o&amp;s...,"['전투', '액션', '좋다', '스케일', '엄청나다']"

In [ ]:
print('reviews 열의 결측값의 수 :', data['reviews'].isnull().sum())

reviews 열의 결측값의 수 : 10

In [ ]:
data['reviews'] = data['reviews'].fillna("")

In [ ]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['reviews'])
print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (9990, 38299)

In [ ]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)

코사인 유사도 연산 결과 : (9990, 9990)

In [ ]:
title_to_index = dict(zip(data['titles'], data.index))

In [ ]:
def get_recommendations(titles, cosine_sim=cosine_sim):
  idx = title_to_index[titles]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices = [idx[0] for idx in sim_scores]
  return data['titles'].iloc[movie_indices]

In [ ]:
get_recommendations('미니언즈2')

9083      미니언즈2
3691      미니언즈2
8085    외계+인 1부
9787    외계+인 1부
8788      그레이 맨
7104      미니언즈2
4945      미니언즈2
2308    외계+인 1부
5446    탑건: 매버릭
5705    외계+인 1부
Name: titles, dtype: object