In [311]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [312]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [313]:
data = pd.read_csv('/content/drive/MyDrive/movie_reviews(cleaned)_final.csv',low_memory=False) 
data.head(2)

,Unnamed: 0,titles,rates,reviews,isit_domestic,imgs_url,cleaned_token
0,0,미니언즈2,10,미니언즈가 귀여운데 알아듣지 못하는 말을 해서 아쉽다. 어린이 조카가 무지 좋아한...,False,https://search.pstatic.net/common?type=o&amp;s...,"['미니언즈', '귀엽다', '알아듣다', '말', '하다', '아쉽다', '어린이..."
1,1,아이언 크로스: 노르망디 상륙작전,10,전투 액션이 좋네요...스케일이 엄청납니다,False,https://search.pstatic.net/common?type=o&amp;s...,"['전투', '액션', '좋다', '스케일', '엄청나다']"

In [329]:
print('reviews 열의 결측값의 수 :', data['cleaned_token'].isnull().sum())

reviews 열의 결측값의 수 : 0

In [345]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data2['cleaned_token'])
print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (3770, 7200)

In [346]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :',cosine_sim.shape)

코사인 유사도 연산 결과 : (3770, 3770)

In [347]:
data2 = pd.read_csv('/content/drive/MyDrive/book_reviews(cleaned)_final.csv')
data2.head(3)

,Unnamed: 0,title,review,descriptions,imgs_url,cleaned_token
0,0,난중일기,신랑이 사극 이순신장군을 좋아해서 반복해서 보는데 같이 읽을 수 있을 듯하네요.,2013년 유네스코 세계기록유산으로 등재된 《난중일기》한 편의 역사 드라마를 보듯 ...,https://search.pstatic.net/common/?src=https%3...,"['신랑', '사극', '이순신', '장군', '좋아하다', '반복', '보다', ..."
1,1,너무 잘하려고 애쓰지 마라,특정 유명 인물에게 바치는 헌정 시 빼고는 좋았다. 시인의 글이 참 쉽게 읽힌다.,“너무 잘하려고 애쓰지 마라”지금 모습 그대로 너는 충분히 예쁘다반짝이는 오늘에 건...,https://search.pstatic.net/common/?src=https%3...,"['특정', '유명', '인물', '바치다', '헌정', '빼다', '좋다', '시..."
2,2,초역 소크라테스의 말,소크라테스는 알고 있지만 그의 말이나 사상등은 자세히 알지 못했는데 기대됩니다.,세상을 살다보면 우리가 상식적으로 알고 있는 일이 정반대인 경우가 많다.잘 알다시피...,https://search.pstatic.net/common/?src=https%3...,"['소크라테스', '알다', '있다', '말', '사상', '자세히', '알다', ..."

In [342]:
title_to_index = dict(zip(data['titles'], data.index)) #입력받는건 영화이름

In [343]:
def get_recommendations(titles, cosine_sim=cosine_sim):
  idx = title_to_index[titles]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  book_indices = [idx[0] for idx in sim_scores]
  print(book_indices)

In [344]:
get_recommendations('미니언즈2')

IndexError: ignored